{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb pl-0">
                <li class="breadcrumb-item"><a href="{% url 'accounts:home' %}"><i class="material-icons">home</i> Home</a></li>
                <li class="breadcrumb-item"><a href="">Appointments</a></li>
                <li class="breadcrumb-item active" aria-current="page">Appointment List</li>
            </ol>
        </nav>
        <div class="ms-panel">
            <div class="ms-panel-header ms-panel-custome">
                <h6>Appointment List</h6>
                {% if user.user_type == 'Receptionist' %}
                    <a href="{% url 'appointments:new' %}" class="ms-text-primary">Add Appointment</a>
                {% endif %}
            </div>

            <div class="ms-panel-body">
                <div class="table-responsive">
                    <table id="data-table-2" class="table table-striped thead-primary w-100 dataTable no-footer"
                        role="grid" aria-describedby="data-table-2_info" style="width: 720px;">
                        <thead>
                            <tr role="row">
                                <th class="" tabindex="0" aria-controls="data-table-2" rowspan="1"
                                    colspan="1" aria-sort="ascending"
                                     style="width: 37px;">Patient</th>
                                <th class="" tabindex="0" aria-controls="data-table-2" rowspan="1" colspan="1"
                                    aria-label="Address: activate to sort column " style="width: 51px;">Doctor
                                </th>
                                <th class="" tabindex="0" aria-controls="data-table-2" rowspan="1" colspan="1"
                                    aria-label="Disease: activate to sort column ascending" style="width: 49px;">Date/Time
                                </th>
                                <th class="" tabindex="0" aria-controls="data-table-2" rowspan="1" colspan="1"
                                    aria-label="Age: activate to sort column ascending" style="width: 25px;">Status
                                </th>
                                
                                <th class="" tabindex="0" aria-controls="data-table-2" rowspan="1" colspan="1"
                                    aria-label="Action: activate to sort column ascending" style="width: 42px;">Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for appointment in appointments %}
                                <tr role="row" class="odd">
                                    <td class="sorting_1"><img src="{{appointment.patient.user.pic.url}}"> {{appointment.patient.user.get_full_name}}</td>
                                    <td>{{ appointment.doctor.user.get_full_name }}</td>
                                    <td>{{appointment.date_time}}</td>
                                    <td>{{appointment.status}}</td>
                                    <td>
                                        <a href="{% url 'appointments:edit' appointment.id %}"><i class="fas fa-pencil-alt ms-text-primary"></i></a> 
                                        <a href="{% url 'appointments:delete' appointment.id %}"><i class="far fa-trash-alt ms-text-danger"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            


                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}