{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <nav aria-label="breadcrumb" class="ms-panel-custome">
            <ol class="breadcrumb pl-0">
                <li class="breadcrumb-item"><a href="{% url 'accounts:home' %}"><i class="material-icons">home</i> Home</a></li>
                <li class="breadcrumb-item"><a href="#">Doctor</a></li>
                <li class="breadcrumb-item active" aria-current="page">Doctor-List</li>
            </ol>

        </nav>

        <div class="ms-panel">
            <div class="ms-panel-header ms-panel-custome">
                <h6>Doctor List</h6>
                {% if user.user_type == 'Receptionist' %}
                    <a href="{% url 'doctors:new' %}" class="ms-text-primary">Add Doctor</a>
                {% endif %}
            </div>

            <div class="ms-panel-body">
                <div class="table-responsive">
                    <table id="data-table-2" class="table table-striped thead-primary w-100 dataTable no-footer"
                        role="grid" aria-describedby="data-table-2_info" style="width: 720px;">
                        <thead>
                            <tr role="row">
                                <th class="" tabindex="0" aria-controls="data-table-2" rowspan="1"
                                    colspan="1" aria-sort="ascending"
                                     style="width: 37px;">Name</th>
                                <th class="" tabindex="0" aria-controls="data-table-2" rowspan="1" colspan="1"
                                    aria-label="Address: activate to sort column " style="width: 51px;">Address
                                </th>
                                <th class="" tabindex="0" aria-controls="data-table-2" rowspan="1" colspan="1"
                                    aria-label="Disease: activate to sort column ascending" style="width: 49px;">Department
                                </th>
                                <th class="" tabindex="0" aria-controls="data-table-2" rowspan="1" colspan="1"
                                    aria-label="Age: activate to sort column ascending" style="width: 25px;">D.O.B</th>
                                
                                <th class="" tabindex="0" aria-controls="data-table-2" rowspan="1" colspan="1"
                                    aria-label="Email: activate to sort column ascending" style="width: 182px;">Email
                                </th>
                                <th class="" tabindex="0" aria-controls="data-table-2" rowspan="1" colspan="1"
                                    aria-label="Action: activate to sort column ascending" style="width: 42px;">Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            {% if user.user_type == 'Patient' %}
                                <tr role="row" class="odd">
                                    <td class="sorting_1"><img src="{{doctor_profile.user.pic.url}}"> {{doctor_profile.user.last_name}}</td>
                                    <td>{{ doctor_profile.user.address }}</td>
                                    <td>{{doctor_profile.department}}</td>
                                    <td>{{doctor_profile.user.date_of_birth}}</td>
                                    <td>{{doctor_profile.user.email}}</td>
                                    <td>
                                        {% if user.user_type == 'Receptionist' %}
                                            <a href="{% url 'doctors:edit' doctor_profile.id %}"><i class="fas fa-pencil-alt ms-text-primary"></i></a> 
                                            <a href="{% url 'doctors:delete' doctor_profile.id %}"><i class="far fa-trash-alt ms-text-danger"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                {% for doctor_profile in doctor_profiles %}
                                    <tr role="row" class="odd">
                                        <td class="sorting_1"><img src="{{doctor_profile.user.pic.url}}"> {{doctor_profile.user.last_name}}</td>
                                        <td>{{ doctor_profile.user.address }}</td>
                                        <td>{{doctor_profile.department}}</td>
                                        <td>{{doctor_profile.user.date_of_birth}}</td>
                                        <td>{{doctor_profile.user.email}}</td>
                                        <td>
                                            {% if user.user_type == 'Receptionist' %}
                                                <a href="{% url 'doctors:edit' doctor_profile.id %}"><i class="fas fa-pencil-alt ms-text-primary"></i></a> 
                                                <a href="{% url 'doctors:delete' doctor_profile.id %}"><i class="far fa-trash-alt ms-text-danger"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}

                            
                            


                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>

    

    
    
    
    
    
    
    
    
    
    
    <!-- Chat Widget (Active Chats) -->
    
    <!-- Followers Widget -->
    
</div>

{% endblock %}